h2 Best-case scenarios for tactical voting

p These maps show what could happen if all voters in each district voted for best-performing pro- or anti-Brexit party in 2015. A possible 5% swing in the total vote is also factored in.

p <strong>Select your constituency</strong>
    select#constituency
    
div.brexit-result

ul#legend
    li.lab
        b
        div Labour
    li.ld
        b
        div Liberal Democrats
    li.snp
        b
        div Scottish National Party
    li.green
        b
        div Green Party
    li.c
        b
        div Conservative
    li.ukip
        b
        div UKIP
    li.none
        b
        div Not competitive
        
div#remain-best-case
    h3 Hypothetical best-case for remain voters
    
    div.result
            
    div.graphic
    
div#leave-best-case
    h3 Hypothetical best case for leave voters
    
    div.result
            
    div.graphic
    
    
div#secret-render
    div.graphic

div.footer Data: <a href="http://www.electoralcommission.org.uk/our-work/our-research/electoral-data">UK Electoral Commission</a>, <a href="https://docs.google.com/spreadsheets/d/1b71SDKPFbk-ktmUTXmDpUP5PT299qq24orEA0_TOpmw/edit?usp=sharing">Chris Hanretty (University of East Anglia)</a>, Quartz analysis
