p TKTK

p TKTK

h2= hed

p <strong>Select your Brexit stance</strong>
    select#stance
        option(value='')
        option(value='leave') Let's leave as fast as possible
        option(value='remain') Let's keep as much of the EU intact as we can

p <strong>Select your constituency</strong>
    select#constituency
    
p#brexit-result

p TKTK

p TKTK

h2 How tactical voting could shape the outcome

p These maps show what could happen if all voters in each district voted for the pro- or anti-Brexit party that received the most votes in 2015. A possible 5% swing in the total vote is also factored in.

ul#legend
    li.lab
        b
        div Labour
    li.ld
        b
        div Liberal Democrats
    li.snp
        b
        div Scottish National Party
    li.green
        b
        div Green Party
    li.c
        b
        div Conservative
    li.ukip
        b
        div UK Independence Party
        
div#remain-best-case.map
    h3 Hypothetical best-case for remain voters
            
    div.graphic
    
div#leave-best-case.map
    h3 Hypothetical best case for leave voters
            
    div.graphic
    
p TKTK

p TKTK

h2 Where tactical really matters

p TKTK

div#remain-realistic-case.map
    h3 For anti-Brexit voters
    
    div.graphic
    
div#leave-realistic-case.map
    h3 For pro-Brexit voters
    
    div.graphic
    
div#secret-render
    div.graphic

div.footer Data: <a href="http://www.electoralcommission.org.uk/our-work/our-research/electoral-data">UK Electoral Commission</a>, <a href="https://docs.google.com/spreadsheets/d/1b71SDKPFbk-ktmUTXmDpUP5PT299qq24orEA0_TOpmw/edit?usp=sharing">Chris Hanretty (University of East Anglia)</a>, Quartz analysis
