// Interactive-specific css here

$lab = 	#CC0000
$ld = #FF9900
$snp = #FFCC00
$green = #6AB023
$c = #333399
$ukip = #70147A
$none = #E4E4E4

p.picker
	padding: 6px 0 6px 0
	max-width: 600px

	label
		font-weight: bold
		display: block

	select
		margin-top: 4px
		width: 100%

ul#legend
	padding: 15px 0 0 0
	margin: 0
	list-style-type: none

	li
		display: inline-block
		margin: 0 18px 0 0
		padding: 0
		line-height: 17px

		b
			display: inline-block
			width: 17px
			height: 17px
			margin-right: 6px
			float: left
			border: 1px solid $qz-map-graticule

		div
			whitespace: nowrap
			fill: $qz-gray-2
			font-size: 14px
			font-family: "AdelleSans-Regular", Helvetica, Arial, sans-serif
			float: left;

		&.lab b
			background-color: $lab

		&.ld b
			background-color: $ld

		&.snp b
			background-color: $snp

		&.green b
			background-color: $green

		&.c b
			background-color: $c

		&.ukip b
			background-color: $ukip

		&.none b
			background-color: $none

.map h3
	margin-bottom: 0

.graphic-wrapper
	position: relative
	font-family: $qz-sans-light

.item-body ul.labels {
	position: absolute;
	margin: 0;
	padding: 0;
	list-style-type: none;
	border: none;

	li {
		position: absolute;
		text-align: right;
		color: #666;
		display: table;
		-webkit-font-smoothing: antialiased;

		span {
			display: table-cell;
			vertical-align: middle;
			font-family: $qz-sans-light
			font-size: 20px
		}
	}
}

.value text {
	font-size: 20px;
	-webkit-font-smoothing: antialiased;
	fill: #999
}

#secret-render
	display: none;

.footer
	font-family $qz-sans
	color $qz-gray-2
	font-size 14px

@media only screen and (min-width 601px)
	.map
		float: left
		width: 50%
